$primaryColor: #282828;
$secondaryColor: #FF9900;
$labelWeight: 700;
$symbolWeight: 500;
$verticalPadding: 10px;
$horizontalPadding: 20px;
$cardPadding: $verticalPadding $horizontalPadding;

$thinBorder: 1px solid lightgray;